.venv
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite
*.sql
*.sql.gz
*.log
*.egg-info/
*.egg
*.egg-info
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.tar.zst
*.tar.lzo
*.tar.lz4
*.tar.lzop
*.csv
.idea
.vscode
*.DS_Store
